*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
}

.row {
    height: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    gap: 1px;
}

.row div {
    width: 50px;
    flex-shrink: 0;
    background-color: black;
}

