*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 20px;
    border: none;
    background-color: greenyellow;
    font-size: 24px;
}

.container {
    height: 960px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1px;
}

.row {
    flex: 1;
    width: 960px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    gap: 1px;
}

.row div {
    flex: 1;
    flex-shrink: 0;
    background-color: black;
}

