*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 20px;
    border: none;
    background-color: greenyellow;
    font-size: 24px;
}

.container {
    /* height: 100vh; */
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    gap: 1px;
}

.row {
    height: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    gap: 1px;
}

.row div {
    width: 50px;
    flex-shrink: 0;
    background-color: black;
}

